NEXT_PUBLIC_SUPABASE_URL=https://ctrigdnitgjzmifdcahp.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VGyeWFR64YQGZlscFoejCw_LUzzNTNl
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0cmlnZG5pdGdqem1pZmRjYWhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0OTk5MTMsImV4cCI6MjA5NTA3NTkxM30.MXK9l-DVk1vaz6XXQr0BXv1Er3eq0fJzMChthOgzgCs
